{% extends "layout.html" %}
  
{% block content %}
  <h2>About</h2>
  <p>This is an application assigned as a homework on Fundamentals of Data Science discipline of EMAp-FGV Masters program. <br>
  	<br>
  	<br>

  	Any suggestions on how to improve this tool is very welcome. Please, feel free to post a comment or contribute to this project on 
  	<a href="https://github.com/Franklin-oliveira/FDS-Repo/tree/master/hw1" class="button icon search">GitHub</a>.

  	<br>

  </p>

<br>
<strong>
Author:
</strong>

Franklin Alves de Oliveira


{% endblock %}
